// Define variables for your color scheme

// For example:
$red: #C1272D;
$blue: #469AE0;
$yellow: #FCEE21;
$orange: #FF7300;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$fond: #F0DCB8;

$bachapp: #FDFCF2;
