.avem-contenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.avem-title{
  text-align: center;
  height: 115px;
  img {
    height: 70px;
    margin-top: 20px;
  }
}
.bloc-rightandleft {
  margin: auto 0;
  text-align: center;
  width: 175px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
}
.avem-contact {
  p {
    font-size: 14px;
  }
}
.row {
  margin: 0 !important;
}
.avem-job {
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
}
.avem-gif {
  img {
    height: 210px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin: 0 auto;
  }
}

.avem-services {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  h3 {
    font-size: 25px;
  }
}

.bloc-service {
  width: 90%;
  background-color: #fcf8e39e;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 14px;
    text-align: center;
  }
  img {
    margin-bottom: 10px;
  }
}
.exitlefttop {
  position: absolute;
  top: 20px;
  left: 20px;
}
.marginservices {
  margin-bottom: 20px;
}
.espace {
  height: 80px;
}
