.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
  color: white;
}
.home-link {
  background-color: $red;
  color: white;
  width: 30%;
  height: 35px;
  border-radius: 2px;
  margin: auto;
  text-align: center;
  font-size: 19px;
  margin-top: 10%;
  padding-top: 2px;
}
.home-link:hover {
  color: white;
}
.form-actions {
  margin: auto;
  .home-link {
    margin-top: 0px;
  }
}
.sign-up {
  margin-top: 15%;
}
.add-photo-profil {
  position: relative;
}

#add-profil {
  background-color: $red;
  color: white;
  width: 0%;
}
#cameraprofil {
  position: absolute;
  top: 7px;
  left: 142px;
}
.links-to-connect{
  margin-top: 20px;
  .color-links{
    color: white;
  }
}
.connectwidth {
  width: 188px !important;
}
.ecarter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .form-actions {
    margin: 0 !important;
    width: 40px !important;
    .home-link {
      width: 170px !important;
    }
  }
}
.center-link {
  margin: auto;
  margin-bottom: -160px;
  width: 137px;
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://media.giphy.com/media/l0MYENcSKKPPQtBUA/giphy.gif") no-repeat center center $bachapp;
}
.widthmax {
  width: 90%;
}
