// Import page-specific CSS files here.
// @import "home";
@import "new";
@import "home";
@import "avemteam";

.padding-general {
  background-color: $fond;
  height: 100vh;
  width: 100vw;
}
// #load {
//   height: 100%;
// }
// #contents {
//   height: 100%;
// }

@media screen and (max-width: 767px) {
  .padding-general {
    padding: 4%;
  }
}
@media screen and (min-width: 768px) {
  .padding-general {
    padding: 2% 4%;
  }
}
