// Import page-specific CSS files here.
// @import "home";
@import "new";
@import "home";
@import "avemteam";

.padding-general {
  padding: 4%;
  background-color: $fond;
  // height: 100%;
  height: 100vh;
  width: 100vw;
}
#load {
  height: 100%;
}
#contents {
  height: 100%;
}
