#new_user{
  margin-top: 10%;
}

.new-user-connection-btn{
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mise-en-page-connexion{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 767px;
  margin: auto;
}


.formulaire-connexion{
  max-width: 800px;

}

.links-to-connect{
  align-self: flex-end;
}

.color-links{
  color: $red;
}
.mdp-oublie{
  font-size: 9pt;
}

.btn{
  background-color: $red;
  border-radius: 7px;
  border: 0px $red solid;
  color: white;
  font-weight: bold;
}

.rotation-90-gauche{
  transform: rotate(-90deg);
}
.footer-connexion{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin-bottom: 0%;
  position: relative;
  .placement-illustration-logo{
    height: 200px;
    position: absolute;
    bottom: -8%;
    right: -4%;
  }
  .text-desc-xs-connexion{
    height: 50px;
    align-self: flex-end;
  }
}

.ecarter{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  .color-links p{
    margin: 0;
  }
}
