<div class="col-xs-12 col-sm-3">
  <div class="card" style="background-image: url(<%= image_path 'Carré_01.png' %>);">
    <div class="card-description">
      <h2><%= @soiree_bde.title %></h2>
      <p><%= @soiree_bde.descritpion %></p>
    </div>
    <button type="button" class="btn btn-danger radius">Je vote<a class="card-link" href="#" ></a></button>
  </div>
</div>

