<div class="footer height-sn ">
  <hr class="hr">
  <% if user_signed_in? %>
    <div class="action-footer margin-actionners-sn">
      <div class="action-footer-deux">
        <%= link_to pictures_path do %>
          <%= cl_image_tag "reply_epeaa7", height: 30, width: 30 %>
        <% end %>
        <a href="http://www.avemcreation.com">
          <%= cl_image_tag "avem-01_1_y06dvt", height: 30 %>
        </a>
        <a href="mailto:donatien@avemcreation.com">
          <%= cl_image_tag "envelope_tha3br", height: 30, width: 30 %>
        </a>
      </div>
    </div>
  <% end %>
</div>


