<!-- small ecran -->
<div class="footer">
  <div class="separation-avem">
  <p class="Avem-signature">Made by <a href="http://www.avemcreation.com/" target="_blank">Avem.</a></p>
  <hr class="hr-footer">
  </div>
  <% if user_signed_in? %>
    <div>
      <img src="/assets/icon_photo.png" alt="icone appareil photo" style="height: 30px; width: 38px;" class="camera">
      <%= render 'shared/formpicture' %>
    </div>
  <% end %>
</div>
