<div class="navbar">
  <div class="annimation">
    <%= cl_image_tag 'forterre_t2lca5', class:"avatar-large" %>
    <%= cl_image_tag 'plante_s7mwim', height: 50, crop: :fill, id:"magrin-top-plante" %>
    <div class="timer">
      <h1>PHOTOS POSTEES</h1>
      <%= cl_image_tag 'horloge_vyrwy8', id:"countdown" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="call-to-action">
        <button type="button" class="btn btn-danger">Top</button>
        <button type="button" class="btn btn-danger">Actu</button>
      </div>
    </div>
  </div>
</div>

