<div class="navbar">
  <div class="annimation">
    <%= image_tag 'forterre.png', class:"avatar-large" %>
    <div class="timer">
      <h1>PHOTOS POSTEES</h1>
      <%= image_tag 'horloge.png', id:"countdown" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="call-to-action">
        <button type="button" class="btn btn-danger">Top</button>
        <button type="button" class="btn btn-danger">Actu</button>
      </div>

    </div>

  </div>
</div>
