
  <div id="photoRightPart" class="taillePhotoLeft">
    <div class="actuellement">
      <div class="redPart">
        <div class="actu redbox-background redbox-background-padding"><h1>Actuel-</h1></div>
        <div class="lement redbox-background redbox-background-padding"><h1>lement !</h1></div>
      </div>
      <div class="orangePart">
        <div class="actu orangebox-background"></div>
        <div class="lement orangebox-background"></div>
      </div>
    </div>
    <div id="whiteLive">
      <div id="blackLive">
        <div id="voyantLive"></div>
        <div id="fluxLive">flux live</div>
      </div>
    </div>
  </div>

<!-- style="background-image: url('<%= cl_image_path @random_image.photo, crop: :fill %>')" -->
