<div id="photoLeftPart">

  <div id="photoLeftTop" class="shadow taillePhotoLeft margin-photo">
  </div>

  <div id="photoLeftBottom" class="shadow taillePhotoLeft margin-photo">
  </div>

  <div id="photoRightTop" class="shadow taillePhotoLeft margin-photo">
  </div>

  <div id="photoRightBottom" class="shadow taillePhotoLeft margin-photo">
  </div>

  <div class="souvenez-vous">
    <div class="redPart">
      <div class="souvenez redbox-background redbox-background-padding"><h1>Souvenez-</h1></div>
      <div class="vous redbox-background redbox-background-padding"><h1>vous !</h1></div>
    </div>
    <div class="orangePartSouvenez">
      <div class="souvenez orangebox-background"></div>
      <div class="vous orangebox-background"></div>
    </div>
  </div>
</div>



