<div id="photoLeftPart">

  <div id="photoLeftTop" class="taillePhotoLeft">
  </div>

  <div id="photoLeftBottom" class="taillePhotoLeft">
  </div>

  <div id="photoRightTop" class="taillePhotoLeft">
  </div>

  <div id="photoRightBottom" class="taillePhotoLeft">
  </div>

</div>
