
  <div class="red-banner redPosition shadow">
    <div id="positionOrangeSquare1" class="squareOrange hidden-xs"></div>
    <div id="positionOrangeSquare2" class="squareOrange hidden-xs shadow"></div>
    <p class="bienvenue">Bienvenue à la</p>
    <hr class="red-banner-hr">
    <h2 class="soiree">SOIREE RETROUVAILLES</h2>
  </div>

