<div class="banner-home">
  <div class="red-banner no-margin redPosition">
    <p class="bienvenue">Bienvenue à la</p>
    <hr class="red-banner-hr">
    <h2 class="soiree">SOIREE RETROUVAILLES</h2>
  </div>

  <div class="pagetitle pagetitle-home">
    <h1 class="titre-page">Bienvenue</h1>
    <div class="redbox redbox-background"></div>
    <div class="orangebox orangebox-background"></div>
  </div>

  <div class="home">
    <% if user_signed_in? %>
      <%= link_to "Soirée Retrouvailles", pictures_path, class:"home-link center-link btn btn-home" %>
    <% else %>
        <h2>Chers Novanciens,</h2>
        <p>
          <strong>Ce site a été réalisé uniquement pour vous ! </strong><br><br>Partagez vos souvenirs depuis toutes ces années à Novancia, partagez votre soirée de retrouvaille, pour qu'on en garde tous des moments magiques et inoubliables !<br><br>Ce site est une plateforme de partage de photos afin que l'on puisse toutes les retrouver dans l'avenir.<br><br>« L’avenir est une porte, le passé en est la clé » - Victor Hugo
        </p>
        <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "home-link btn btn-home" %>
    <% end %>
  </div>

</div>
