<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path 'fond_uvrhtk', crop: :fill %>')">
  <div class="col-sm-offset-1 col-sm-6">
    <div class="home">
      <% if user_signed_in? %>
        <%= link_to "Novancia 2018", pictures_path, class:"home-link center-link" %>
      <% else %>
          <h2>Chers diplômés,</h2>
          <p><strong>Ce site a été réalisé uniquement pour vous! </strong></p>
          <p>Partagez vos souvenirs depuis toutes ces années à Novancia, partagez votre remise de diplôme, pour qu'on en garde tous des moments magiques et inoubliables!
          </p>
          <p>
            Ce site est une plateforme de partage de photos afin que l'on puisse toutes les retrouver dans l'avenir
          </p>
          <p>
          « L’avenir est une porte, le passé en est la clé » de Victor Hugo
          </p>
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "home-link" %>
      <% end %>
    </div>
  </div>
</div>

