<div class="banner-home" style="background-image: url('<%= cl_image_path 'fond_uvrhtk', crop: :fill %>')">
  <% if user_signed_in? %>

    <%= link_to "Quel est groupe", pictures_path, class:"navbar-wagon-link btn btn-danger height-btn" %>

  <% else %>
  <h2>Cher Diplomé, veuillez vous identifier</h2>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link btn btn-danger height-btn" %>
  <% end %>
</div>

