<div class="col-xs-12 col-sm-6">
  <div class="cards-lg">
    <a href="<%= @pictures.first.photo %>" class="lightbox" ><%= cl_image_tag @pictures.first.photo, class:"photo", :crop=>"scale", :gravity=>"face" %></a>
  </div>
</div>
