<div class="col-xs-12 col-sm-3">
  <div class="cards-lg">
    <a href="<%= picture.id %>" class="lightbox"><%= cl_image_tag picture.photo, class:"photo", :crop=>"scale", :gravity=>"face" %></a>
  </div>
</div>
