// Commun
.redbox-background-padding {
  padding: 5px;
}

.redPart {
  position: absolute;
  z-index: 1;
}

// Actuellement part
.actuellement {
  position: absolute;
  top: -88px;
  left: 0;
}
.lement {
  width: 140px;
  height: 44px;
}
.actu {
  width: 120px;
  height: 44px;
}
.orangePart {
  position: absolute;
  top: -7px;
  left: 7px;
}

// Souvenez-vous
.souvenez-vous{
  position: absolute;
  bottom: 10px;
  right: 170px;
}
.vous {
  width: 106px;
  height: 44px;
  margin-left: 54px;
}
.souvenez {
  width: 160px;
  height: 44px;
}
.orangePartSouvenez {
  position: absolute;
  top: 7px;
  left: -7px;
}
