.card {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  // background-position: center;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-description {
  margin: 0;
  padding: 20px;
}
.card-description h2 {
  font-size: 35px;
}
.card-description p {
  font-size: 17px;
  opacity: 0.8;
  font-weight: lighter;
}
.card-link {
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.btn-danger {
  width: 50%;
  border-radius: 30px;
  margin-bottom: 20px;
}
