.footer {
  background-size: cover !important;
  height: 165px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: flex-end;
  position:fixed;
  width: 100%;
  bottom: 0;
  z-index:99999;
  margin-left: 5px;
}
.size-btn {
  // height: 40px;
  padding-bottom: 25px;
}
.footer-lg{
  background-color: #FFFEF3;
}
