.spaceautour{
  height: 0;
  width: 0;
  margin-bottom: -100px;
}
.Avem-signature{
  text-align: right;
  margin: 0;
  a{
    text-decoration: none;
    color: black;
  }
}
.hr-footer{
  border: 2px $red solid;
  margin-top: 0;
}
