.spaceautour{
  visibility: hidden;
  height: 0;
  width: 0;
  margin-bottom: -100px;
}
#add-picture{
  position: absolute;
}

.footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0;
  padding: 0 4% 4% 4%;
  background-color: $fond;
}
.Avem-signature{
  text-align: right;
  margin: 0;
  a{
    text-decoration: none;
    color: black;
  }
}
.hr-footer{
  border: 2px $red solid;
  margin-top: 0;
}
.images-footer{
  display: flex;
  justify-content: space-between;
  .text-desc-xs{
    height: 50px;
  }
  .camera{
    height: 50px;
  }
}
