#header-nov{
  background-color: $fond;
  height: 122px;
}

.pagetitle{
  margin-top: 90px;
  width: 92%;
  height: 5vh;
  div{
    width: 96%;
    height: 85%;
  }
  .redbox{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
  }
  .orangebox{
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .titre-page{
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
  }
}

.redbox-background{
  background-color: rgba(193,39,45,0.7);
}
.orangebox-background{
  background: linear-gradient(0.25turn, $orange, $yellow);
}
