.all-photos-lg{
  overflow-y : scroll;
  height: 100%;
  width: 80%;
  margin: auto;
}

.photo-lg {
  height: 250px;
  display: block;
}

.cards-lg {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  img {
    margin: auto;
  }
}
