.photo {
  max-height: 100%;
  max-width: 100%;
}
.cards {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
}
.all-photos {
  overflow-y : scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 320px;
}
.avatar-bordered {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 5px;
  margin-left: 5px;
}
.gris-avatar{
  background-color: #c1d5e0;
}
.name-vote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  margin-bottom: 30px;
  padding: 0 5px;
  align-items: center;
}
.vote {
  height: 30px;
}

.espace {
  height: 10px;
}

.hidden-file-input {
  opacity: 0;
  font-size: 1px;
  width: 2px;
}

.user-posted {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  p {
    font-weight: lighter;
  }
}
.fa {
  color: #37474f;
}
.likes-count {
  color: #37474f;
}
.unlikes-count {
  color: #37474f;
}
