.all-photos-lg{
  overflow-y : scroll;
  height: 100%;
  width: 80%;
  margin: auto;
}

.photo-lg {
  height: 250px;
  display: block;
}

.cards-lg {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  img {
    margin: auto;
  }
}
#lightbox {
  display:none;
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
}

#lightbox img {
  margin-top: 100px;
  max-width: 400px;
  max-height: 400px;
}
