.red-banner {
  // height: 9vh;
  // max-width: 414px;
  width: 92%;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $red;
  .bienvenue {
    color: white;
    margin: 2% 0 0 0;
  }
  .red-banner-hr{
    color: white;
    margin: 0;
    border: 1px white solid;
    width: 50%;
  }
  .soiree{
    color: white;
    margin: 2% 0;
  }
}

@media screen and (max-width: 767px) {
  .red-banner {
    position: fixed;
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 768px) {
  .red-banner {
    margin-left: 15%;
    h2 {
      font-size: 3vw !important;
    }

  }
}


// To deleted

.nvgt{
    position:absolute;
    top: 120px;
    height: 50px;
    width: 30px;
    opacity: 0.6;
}
.nvgt:hover{
    opacity: 0.9;
}
#prev{
    background: #000;
    left: 0px;
}
#next{
    background: #000;
    right: 0px;
}
